.navbar{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(240,240,240);
    background-color: white;
}

.title{
    font-size: 30px;
    margin: 0;
}


.logoDiv{
   height: fit-content; 
   margin-left: 10%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.navBtnsDiv{
    height: fit-content;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBtn{
    text-decoration: none;
    color: black;
}

.navBtnCanvas{
    text-decoration: none;
    color: black;
    margin-bottom: 20px;
}

.navBtnMrg{
    margin-right: 8vw;
}

.menuIcon{
    display: none;
}

@media screen and (max-width: 768px){
    .menuIcon{
        display: block;
        height: 30px;
        width: 30px;
    }
    .navBtn{
        display: none;
    }
}

.canvasBtnsDiv{
    display: flex;
    flex-direction: column;
}