:root{
    --main-color: #6dacff;
    --sec-color: #006eff;
    --dark-color: #1f1f1f;
    --light-color: #f3f3f3;
}

.sideBarDiv{
    min-height: 85vh;
    width: 275px;
    background-color:  #20558a;
    position: absolute;
    left: 0;
}


.field{
    width: 100%;
    height: 75px;
    border-width: 2px;
    border-style: none none solid none;
    border-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.fieldsParent{
    margin-top: 100px;
}