


.consultationDiv{
    height: 100vh;
    width: 100%;
    overflow-y: auto;
}

.consultationDivTitle{
  color: #262939;
  font-family: Arial, Helvetica, sans-serif;
}

.consultationDivTitleDiv{
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 50px;
}

.auto-height-textarea {
  width: 70%;
  min-height: 100px;
  padding: 10px;
  resize: none;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.numInput{
    width: 150px;
    font-size: 1em;
    padding: 0.6em 1em;
    border: none;
    border-radius: 6px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    max-width: 200px;
    color: #333;
  }
  
  .numInput:hover {
    background-color: #f2f2f2;
  }
  
  .numInput:focus {
    outline: none;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .numInput::placeholder {
    color: #999;
  }

  .deleteIcon{
    cursor: pointer;
  }

  .medicamentDiv{
    justify-content: start;
    align-items: center;
    margin-top: 20px;
  }

  .medicamentTitleDiv{
    width: 100%;
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
    border-width: 1px;
    border-color: #C4C4C4;
  }
  
  .tableRowsMedicament{
    width: 100%;
  }

  .addDemandeMedicamentDiv{
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }

  .addOrdonnanceDiv{
    width: 45%;
  }

  .addDemandeDiv{
    width: 45%;
  }