  .scanDiv{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .more{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 20px;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    font-size: 15px;
    color: black;
  }

  .flipBack{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 20px;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    font-size: 15px;
    color: black;
  }


  .scene {
    display: inline-block;
    width: 75vw;
    max-width: 800px;
    height: 500px;
    perspective: 600px;
  }
  
  .card {
    position: relative;
    margin-top: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
    --bs-card-border-width: 0;
  }
  
  .card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
  }
  
  .card__face--front {
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
  }
  
  .card__face--back {
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
    transform: rotateY(180deg);
  }


  .frontCard{
     height: 100%;
     width: 100%;
  }

  .backCard{
    height: 100%;
    width: 100%;
  }

  .nameInfosDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 15px;
  }

  .nameInfos{
    text-align: start;
    color: #333333;
    line-height: 1.5;
  }

  .clickable{
    cursor: pointer;
  }

  .titleInfos{
    color: black;
    margin-top: 10px;
  }

  .allergiesDiv{
    width: 45%;
    height: 75%;
    max-height: 75%;
  }

  .maladiesDiv{
     width: 45%;
     height: 75%;
     max-height: 75%;
  }

  .allergiesMaladiesDiv{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .allergie{
    color: #333333;
    width: fit-content;
    height: fit-content;
    font-size: 20px;
  }
  .moreallergie{
    color: #333333;
    width: fit-content;
    height: fit-content;
    font-size: 20px;
  }
  .moredisease{
    color: #333333;
    width: fit-content;
    height: fit-content;
    font-size: 20px;
  }

  .disease{
    color: #333333;
    width: fit-content;
    height: fit-content;
    font-size: 20px;
  }

  .alrgTitle{
    text-align: start;
    color: #333333;
    line-height: 1.5;
  }

  .showMore{
    width: fit-content;
    height: fit-content;
    font-size: 20px;
    text-decoration: underline;
    color: #007bff;
    cursor: pointer;
    list-style-type: none;
  }

  .hiddenFirst{
    display: none;
  }

  



  @media screen and (max-width: 768px){
    .nameInfosDiv{
      width: 90%;
    }
    .nameInfos{
      font-size: 18px;
    }
    .titleInfos{
      font-size: 25px;
    }
    .allergiesMaladiesDiv{
     flex-direction: column;
     justify-content: unset;
     align-items: center;
    }
    .allergiesDiv{
      width: 90%;
      height: 38%;
    }
    
  .maladiesDiv{
     width: 90%;
     height: 38%;
  }
  .allergie{
    font-size: 18px;
  }
  .moreallergie{
    font-size: 18px;
  }
  .moredisease{
    font-size: 18px;
  }
  .disease{
    font-size: 18px;
  }
  .showMore{
    font-size: 18px;
  }
  .alrgTitle{
    font-size: 18px;
  }
  }