

.radiosDiv{
   
    height: 100vh;
    width: 100%;
    overflow-y: auto;
       
}


.radiosDivTitleDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 50px;
}

.analysesDivTitleDiv{
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 50px;
}


.radiosDivTitle{
    color: #262939;
    font-family: Arial, Helvetica, sans-serif;
}

.radiosFilterDiv{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-right: 10%;
    margin-top: 30px;
}


.analysesFilterDiv{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-right: 2%;
    margin-top: 30px;
}

.allRadiosDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.modalBodyDiv1{
    height: 67vh;
    width: 50%;
    overflow-y: auto;
}

.modalBodyDiv2{
    height: 67vh;
    width: 50%;
}

.modalDiv{
    display: flex;
    height: 100%;
}

@media screen and (max-width : 768px) {
    .modalDiv{
        display: block;
        height: auto;
    }

    .modalBodyDiv1{
        height: auto;
        width: 100%;
    }
    .modalBodyDiv2{
        height: 600px;
        width: 100%;
    }
    .modal-content{
        height: fit-content;
    }
}



.tableTitleDivAnalyses{
    width: 40%;
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
    border-width: 1px;
    border-color: #C4C4C4;
  }


  .tableRowsAnalyses{
    width: 40%;
  }

  .analyseModalDiv{
    height: 67vh;
  }

  .textArea{
    width: 100%;
    overflow-y: auto;
  }

  .input {
    max-width: 190px;
    display: none;
  }
  
  .labelFile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 190px;
    border: 2px dashed #ccc;
    align-items: center;
    text-align: center;
    padding: 5px;
    color: #404040;
    cursor: pointer;
  }
  